---
name: sign_in_form
resource: User
resource_owner: anyone
fields:
  email:
  password:
  first_name:
    validation: { presence: true }

---

{% form html-class: "w-50"  %}
  <div class="form-wrapper">
    <input class="form-input"  name="{{ form.fields.properties.email.name }}"
      value="{{ form.fields.properties.email.value }}" id="form_email"
      type="email" placeholder="Email"
      required>
    <button on class=" form-btn "><a href="/question">SUBMIT</a></button>
  </div>  
{% endform %}    
