<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="authenticity_token" name="csrf-param">
<meta content="{{ form_authenticity_token }}" name="csrf-token">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>SalonEverywhere</title>
<link rel="stylesheet" href="{{ 'styles/app.css' | asset_url }}">
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="https://uploads.prod01.oregon.platform-os.com/instances/1420/assets/images/favicons/favicon.ico?updated=1588263327"> 
<link rel="icon" sizes="192x192" href="https://uploads.prod01.oregon.platform-os.com/instances/1420/assets/images/favicons/favicon-192.png?updated=1588263327">
