<div class="home-page">
<div class="heading-wrapper">
<h1 class="heading">Welcome to <br/> SalonEverywhere!</h1>
</div>
<div class="subTitle-wrapper">
<h3 class="subTitle">This is our Pre-Appointment COVID Screening Tool</h3>

<h3 class="subTitle">Please enter your email address below</h3>
</div>
{% include_form 'sign_in_form' %}


<a href="/question">Questions</a>
</div>