<div class="question-wrapper">

  <div class="heading-wrapper">
    <h1>SalonEverywhere COVID Screening Tool</h1>
  </div>
  <div class="symptom-wrapper">
    <h2>
      Do you have any of the symptoms or signs?
    </h2>



    <p class="question-text"><strong>-</strong> New or worsening cough</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>


    <p class="question-text"><strong>-</strong> Shortness of breath</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>


    <p class="question-text"> <strong>-</strong> Sore throat</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>

    <p class="question-text"> <strong>-</strong> Runny nose, sneezing or nasal congestion (in absence of underlying reasons for symptoms such
      as seasonal allergies and post nasal drip)</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>



    <p class="question-text"> <strong>-</strong> Hoarse voice</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>


    <p class="question-text"> <strong>-</strong> Difficulty swallowing</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>


    <p class="question-text"> <strong>-</strong> New smell or taste disorder(s)</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>


    <p class="question-text"> <strong>-</strong> Nausea/vomiting, diarrhea, abdominal pain</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>


    <p class="question-text"> <strong>-</strong> Unexplained fatigue/malaise</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>


    <p class="question-text"> <strong>-</strong> Chills</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>

    <p class="question-text"> <strong>-</strong> Headache</p>
    <div class="question-symptom">
      <label class="question-label">YES
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="question-label">NO
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>


    <a href="/thankyou"><button class="form-btn">SUBMIT </button></a>

  </div>
</div>
