---
to: '{{ form.email }}'
delay: 0
enabled: true
trigger_condition: true
from: sahilst091@gmail.com.com
reply_to: no-reply@example.com
cc:
bcc:
subject: 'Welcome Guest to Salon EveryWhere!'
layout_path: mailer
---
<h1>Hi Guest,</h1>

<p>Welcome to Salon EveryWhere!</p>

