<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'layout/head' %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

</head>

<body class="antialiased font-sans leading-relaxed">
  {{ content_for_layout }}
  {% include 'layout/scripts' %}
</body>
</html>